*.class
*.log

# sbt specific
.cache
.lib/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.cache-main
.cache-tests

# Scala-IDE specific
.scala_dependencies
.worksheet

# Other
**/logs
**/project/project
**/project/target
**/target
**/tmp
**/.history
**/dist
**/.idea
**/*.iml
**/out
**/.idea_modules
**/.classpath
**/.project
**/RUNNING_PID
**/.settings
.DS_Store
/bin/
**/.cache-main
**/.cache-tests

activator*